@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;
    min-height: 100vh;
    font-family: 'indie flower', cursive;
    color: black;
}

.number {
    text-align: center;
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.error p{
    font-size: 18px;
}

.text {
    position: relative;
}

.text p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 6rem;
    height: 1px;
    background-image: repeating-linear-gradient(to left, rgba(0, 0, 0, 0.35) 0, rgba(0, 0, 0, 0.35) 0.5rem, transparent 0.5rem, transparent 1rem);
}

.text p{
     padding-top: 30px;
     max-width: 75%;
     text-align: center;
     margin: 0 auto;
}

div.text p a{
    color: red;
}

div.text p a:hover{
    color: yellowgreen;
}
